.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input {
    box-sizing: border-box;
    padding: 5px 5px 5px 20px;
    background: #e1e1e1;
    height: 47px;
    border: none;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    width: 100%;
    max-width: 260px;
    &:focus {
      outline: none;
    }
    @media (min-width: 375px) {
      flex: 0 260px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }
  &__submit-button {
    width: 100%;
    max-width: 100px;
    height: 47px;
    background: #f16d7f;
    border: none;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    &:focus,
    &:active {
      outline: none;
    }
    @media (min-width: 375px) {
      flex: 0 0 100px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  @media (min-width: 375px) {
    flex-direction: row;
    justify-content: center;
  }
}
