.filter {
}

.filter-button {
  background: none;
  border: none;
  width: max-content;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &__text {
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
      margin-right: 11px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__icon {
    width: 37.5px;
    height: 25px;
    fill: black;
    @media (min-width: 768px) {
      width: 15px;
      height: 10px;
    }
  }
}
